node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.env
# macOS
.DS_Store
start_simulators.sh
ios/ScienceGuide.xcodeproj/project.pbxproj
ios/ScienceGuide.xcworkspace/xcuserdata/normant.xcuserdatad/UserInterfaceState.xcuserstate
ios/ScienceGuide.xcodeproj/project.pbxproj
